@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.body {
  background-image: url("./assets/ruhail-pic.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 84vh;
  margin-right: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 8px 0 8px;
}
.title-name {
  font-family: "Open Sans", sans-serif;
  color: #000;
  letter-spacing: 1px;
  padding-left: 4px;
  padding-right: 54px;
  cursor: pointer;
}

.info-heading {
  padding-right: 4px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.work-heading {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  padding-right: 34px;
}

.info-heading:hover {
  color: grey;
}

.work-heading:hover {
  color: grey;
}

.work-section {
  display: none;
}

.about-section {
  font-family: "Open Sans", sans-serif;
  display: none;
  margin: 30px 50px 30px 50px;
}

.contact h5 a {
  color: #000;
}

.press-links {
  display: block;
  margin-top: 60px;
}

.press-links h4 {
  text-align: center;
  cursor: pointer;
}

.press-links h4 a {
  color: #000;
  text-decoration: underline;
}

.about-section-heading {
  display: flex;
  justify-content: space-around;
}

#about-heading {
  color: #000000;
  cursor: pointer;
}

#cv-heading {
  color: #dcdcdc;
  cursor: pointer;
}

#contact-heading {
  color: #dcdcdc;
  cursor: pointer;
}

.contact {
  display: none;
}

.cv {
  display: none;
  margin: 7px 20px 10px 20px;
}

.about-detail-container {
  /* box-shadow: 0px 0px 2px gray;
  border-radius: 20px; */
  padding: 7px 20px 10px 20px;
}

footer {
  margin-top: 10px;
  display: flex;
  justify-content: start;
}

.soundcloud {
  background-color: #ff7f34;
  width: 25px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

#sound-cloud {
  color: white;
  size: 20px;
}

.bandcamp {
  width: 23px;
  display: flex;
  justify-content: center;
  color: #629aa9;
  margin-right: 15px;
}

.instagram {
  width: 23px;
  display: flex;
  justify-content: center;
}
#insta {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.work-heading {
  font-family: "Open Sans", sans-serif;
}

.work-info-container {
  margin: 40px 40px 0 40px;
}

.work-info-1 {
  display: block;
  font-family: "Open Sans", sans-serif;
}

.projects {
  margin-left: 28px;
}

.selected-performances {
  margin-left: 28px;
}

.radio-residencies {
  margin-left: 28px;
}

.work-info-1 div p {
  margin: 4px 30px 0 26px;
}
.work-info-1 div img {
  margin: 0 30px 0 26px;
}
@media screen and (max-width: 700px) {
  .body {
    background-position: center center;
  }
}
